
.padre {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
}

.hijo{
    width: 200px;
    height: 200px;
    background-color: brown;
    animation: traslacion 5s ease-in-out infinite forwards alternate;
    /*transition: all 1s ease-in 2s;*/
}

.padre:hover .hijo {
    /*transform: translateX(100%);
    background-color: aqua;*/
    animation-play-state: paused;

}


@keyframes traslacion {
    0% {
        background-color: brown;
        transform: translateX(0%);
    }

    25% {
        background-color: brown;
        transform: translateX(100%);
    }

    50% {
        background-color: brown;
       transform: translateX(100%) translateY(100%);
    }

    75%{
        background-color: brown;
        transform: translateY(100%);
    }
    100%{
        background-color:gold;
        transform: translateY(0%);
    }
}